@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

@import url("components/buttons.css");

:root {
  --maroon: #a2322e;
  --bubblyYellow: #e5c56f;
  --dark: #333;
  --other: #f8ec4a;
  --other2: #fcd025;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: beige;
  font-size: 64px;
  font-weight: bold;
}
h1 {
  font-size: 72px;
}

.hero_container {
  position: relative;
  /* max-width: 1200px; */
}

.hero_peri,
.hero_fattori,
.hero_treTalestri,
.hero_poggio,
.hero_gianni_tessari,
.hero_natalinagrandi,
.hero_gentili,
.hero_cortenera,
.hero_fongaro,
.hero_zambon_vulcano {
  background-color: white;
  height: 60vh; /* You must set a specified height */
  background-position: 75% 25%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero_peri {
  background-image: url("../images/hero_peri.jpg");
}
.hero_fattori {
  background-image: url("../images/hero_fattori.jpg");
}
.hero_treTalestri {
  background-image: url("../images/hero_treTalestri.jpg");
}
.hero_poggio {
  background-image: url("../images/hero_poggio_delle_grazie.jpg");
}

.hero_fongaro {
  background-image: url("../images/fongaro_hero.jpg");
}

.hero_gentili {
  background-image: url("../images/hero_gentili.jpg");
  /* height: 80%; */
}

.hero_cortenera {
  background-image: url("../images/hero_cortenera.jpg");
}
.hero_natalinagrandi {
  background-image: url("../images/hero_natalina_grandi.jpg");
}
.hero_zambon_vulcano {
  /* height: 80vh; */
  /* border: 5px solid red; */
  /* background-image: url("../images/zambon-vulcano-banner.jpg"); */
}

.cantine-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.cantina_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  border-radius: 2px;
  height: 80px;
}
.cantina_logo.fongaro_logo {
  transform: translate(-50%, 50%);
  height: 140px;
}

.cantina_logo.zambon_logo {
  height: 12px;
  transform: translate(-50%, 50%);
}

.cantina_logo.cortenera_logo {
  height: 100px;
  transform: translate(-50%, 70%);
}

.BBlogo-banner {
  height: 160px;
}

.bubblybandits {
  color: var(--bubblyYellow);
  font-family: "Nanum Myeongjo", serif;
}

.back_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.slogan {
  display: none;
}

article,
.calltoAction {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1200px;
}

.calltoAction,
figcaption,
article p {
  color: darkgray;
  font-size: 20px;
  line-height: 1.3em;
}

article h3 {
  color: beige;
}
.cantina_text,
.cantina_product_text {
  text-align: justify;
}
.cantina_text_image {
  width: 270px;
  margin: 2rem auto;
  border-radius: 2px;
}

.cantina_product_image {
  height: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.product-container figcaption {
  margin-bottom: 0.8rem;
}

footer {
  max-width: 1200px;
}

.footerText {
  color: darkgray;
  font-size: small;
  line-height: normal;
}

.instagram {
  color: beige;
}

.BBLogo-footer :hover {
  transform: scale(1.05);
  transition: ease-in;
  transition-duration: 100ms;
}

/* *****Media Querries****** */

@media only screen and (min-width: 768px) {
  .BBlogo-banner {
    height: 140px;
  }

  .back_link {
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    transform: none;
  }

  .slogan {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -88%);
    color: var(--other2);
    font-family: "Nanum Myeongjo", serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  .cantina_text_image {
    width: 400px;
  }

  .article-container {
    align-items: center;
  }

  .fongaro_bottles {
    height: 400px;
  }

  .fongaroSpumantiText {
    padding-right: 2rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .BBlogo-banner {
    height: 160px;
  }
  .slogan {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .cantina_logo {
    height: 100px;
  }
  .slogan {
    font-size: 2.6rem;
  }
}
