@import url("components/testimonials.css");
@import url("components/spins.css");
@import url("components/buttons.css");
@import url("components/footer.css");
@import url("components/forms.css");
@import url("components/banners.css");
@import url("components/cards.css");
@import url("components/abouts.css");
@import url("components/grids.css");


:root {
  --maroon: #A2322E;
  --dark: #333;
}

body{
  margin: 0; 
  padding: 0;
  background-color: black;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
}

.contImage{
  background-color: black;
}

/* Tags */

.media h2,
h2
 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: beige;
  font-size: 64px;
  font-weight: bold;
}

.media h2,
.in-touch 
{
  text-shadow: 1px 1px 1px #333;
}

.press h2,
.radio h2
{
  font-size: 32px;
}

.radio_exclamation {
  margin-top: 2em;
}


h4{
  font-family: 'Lato', sans-serif;
  font-size: 26px;
}

ul{
  list-style: none;
  padding: 0;
  align-items: center;
}

/******* 
Grid
*******/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 2em;
}


/******* 
 Audio
*******/

audio::-webkit-media-controls-panel{
  background-color: var(--maroon);
}

audio{
  margin: 1.5em 1em 4em;
  max-width: 360px;
}


/* Media Queries */
@media(max-width: 1700px) {
  .media h2,
  h2{
    font-size: 56px;
  }
  h4{
    font-size: 24px;
  }
}

@media(max-width: 1550px) {
  .media h2,
  h2{
    font-size: 48px;
  }
  .button{
    font-size: 32px;
  }
}

@media(max-width: 1300px) {
  .media h2,
  h2{
    font-size: 36px;
  }
  .logo{
    height: 360px;
  }
  .button{
    font-size: 28px;
    margin: 16px 8px 32px;
  }
}

@media(max-width: 1024px) {
  .logo{
    max-height: 360px;
    margin: 8px;
    padding: 8px;
  }
  .scrittura{
    height: 80px;
    margin: 48px 28px 8px;
  }
  .button{
    font-size: 24px;
    margin: 12px 6px 28px;
  }
  .button2{
    font-size: 18px;
    margin: 12px 6px 28px;
  }
}

@media(max-width: 995px){
  .radio .grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 1em;
    gap: 16px;
}

@media(max-width: 771px) {
  .logo{
    max-height: 360px;
    margin: 8px;
    padding: 8px;
  }
  .imgSpinWrapper{
    height: 100%;
    width: 50%;
  }

  .interested,
  .radio_exclamation h4{
    font-size: 20px;
  }
  .testimonialWrapper .press .grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 1em;
    gap: 16px;
  }
  .testimonialWrapper .press .grid>:last-child{
    grid-row: 1;
  }
  .testimonialWrapper .grid>:first-child {
    padding: 1rem;
  } 
  .testimonialWrapper .press .grid img {
    min-height: 312px;
  }
}

@media(max-width: 700px) {
  .scatolaBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo{
    max-height: 400px;
    margin: auto;
  }
  footer p{
    display: none;
  }
  #icon{
    margin-bottom: 28px;
  }
  .capcha{
    justify-content: center;
  }
}

@media(max-width: 420px) {
  .aboutPic{
    width: 310px;
    border-radius: 12px;
  }
  h4{
    font-size: 18px;
    text-align: start;
  }
  .imgSpinWrapper{
    height: 100%;
    width: 66%;
  }
  .radio .grid img{
    min-height: 420px;
  }
  audio{
    margin: 1em 1em 1.5em 1em;
    max-width: 240px;
  }
  .testimonialWrapper .press .grid img {
    height: 280px;
  }
}

@media(max-width: 357px){
  .button,
  .button2{
    font-size: 1.2em;
    padding:12px 32px;
  }
}

@media(max-width: 320px){
  .testimonialWrapper .press .grid img {
    min-height: 240px;
  }  
  .testimonialWrapper .press .grid{
    margin: 0;
    height: 100%;
  }
  .radio .grid img{
    min-height: 360px;
  }
  .stars {
    font-size: 32px;
  }
  .aboutPic{
    /* height: 260px; */
    width: 260px;
  }
}

@media(max-width: 296px){
  .button,
  .button2{
    font-size: 1em;
    padding:10px 20px;
  }
}

@media(max-width: 280px) {
  .logo{
    max-height: 300px;
    margin: auto;
  }
  .testimonialWrapper .press .grid img {
    height: 240px;
  }
  .aboutPic{
    /* height: 240px; */
    width: 240px;
  }
  audio{
    margin: 1em 1em 1.5em 1em;
    max-width: 200px;
  }
  .button,
  .button2{
    font-size: 0.9em;
    padding:8px 18px;
  } 

  .type{
    font-size: 28px;
    margin-bottom: 40px;
  }  
 
}
