
body{
  background-color: black;
  overflow: hidden;
}

/* Components */
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: whitesmoke;
  font-size: 6vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  max-height: 72vh;
  margin: 4rem;
  padding: 8px;
}

.catchphrase{
  max-height: 20vh;
}

/* Media Queries */
@media(max-width: 1024px) {
  .logo{
    max-height: 60vh;
    margin: 8px;
    padding: 8px;
  }
  .catchphrase{
    max-height: 140px;
  }
  h2{
    font-size: 32px;
  }
}

@media(max-width: 771px) {
  .logo{
    max-height: 50vh;
    margin: 8px;
    padding: 8px;
  }
  .catchphrase{
    max-height: 140px;
  }
  h2{
    font-size: 32px;
  }
}

@media(max-width: 700px) {
  .container{
    flex-direction: column;
  }
  .logo{
    max-height: 400px;
    margin: auto;
  }
  .catchphrase{
    max-height: 140px;
    margin: auto;
    /* padding-bottom: 16px; */
  }
  h2{
    font-size: 32px;
  }
}

@media(max-width: 280px) {
  .container{
    flex-direction: column;
  }
  .logo{
    max-height: 300px;
    margin: auto;
  }
  .catchphrase{
    max-height: 80px;
    margin: auto;
    /* padding-bottom: 16px; */
  }
  h2{
    font-size: 26px;
  }
}
