.allaboutWrapper{
  background-image: url("../../images/reasonssection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  display: block;
}

.aboutWrapper{
  margin-bottom: 3em;
}

.aboutPic{
  height: 400px;
  border-radius: 16px;
  margin: 16px;
}

.aboutText{
  font-weight: bold;
  font-size: 20px;
}

.cardText p{
  font-size: 18px;
}