
.scatolettaBottone {
  display: flex;
  justify-content: center;
}

.button{
  font-size: 1.5em;
  text-decoration: none;
  background-color: #FFC100;
  color: black ;
  border: 0;
  border-radius: 16px;
  padding: 10px 40px;
  /* box-shadow: 2px 2px 11px rgba(80, 80, 80, 0.2); */
  margin: 24px 16px 40px;
  font-size: 45px;
  font-weight: 500;
}

.button:hover {
  transition: 0.3s;
  background-color: #FDCF24;
  color: #A2322E;
}

