

.scatolettaBottone {
  display: flex;
  justify-content: center;
}


button{
  font-size: 1.5em;
  text-decoration: none;
  /* background-color: rgb(228, 29, 87); */
  background-color: #FFC100;
  color: black ;
  border-radius: 16px;
  padding: 8px 40px 8px 40px;
  /* box-shadow: 2px 2px 11px rgba(80, 80, 80, 0.2); */
  transition: 0.3s;
  margin: 24px 16px 40px;
  font-size: 32px;
}

button:hover {
  /* background-color: rgb(189, 15, 59); */
  background-color: #FDCF24;
}