.cardsWrapper{
  background-image: url("../../images/reasonssection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 0;
}

.card_stuff{
  border-radius: 8px;
  margin: 5em;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
  border: coral solid 03px;
}

.cardPic{
  margin: 24px;
  height: 200px;
  border-radius: 8px;
}

.cardText p {
  color: darkgray;
}