#icon{
  color: gray;
  padding-top: 28px;
}
#icon :hover{
  color: #A2322E;
}

.footerText{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding-bottom: 12px;
}

.footerWrapper{
  background-image: url("../../images/fithsection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Line */
.lineWrapper{
  background-image: url("../../images/fithsection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
}

.lineWrapper hr {
  width: 60%;
  height: 20px;
  background-color: #A2322E;
  margin:auto;
}
