.allactionWrapper{
  background-image: url("../../images/lastsection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.radio_exclamation h4,
.actionTextWrapper h4
{
  margin: 16px 32px 4px;
  text-align: justify-all;
}

.actionWrapper.container{
  padding-left: 8px;
}

.actionWrapper{
  background-color: #A2322E;
  border-radius: 4px;
  margin: 4em 0.3em 2em;
  box-shadow: 2px 2px 11px  rgba(80, 80, 80, 0.5);
}

 .action {
  color: #A2322E;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
  text-shadow: none;
} 

.actionWrapper > *{
  padding: 0.5em;
  margin: 0.5em;
}

.actionWrapper form label{
  font-size: 20px;
  padding-bottom: 6px;
}

.actionWrapper form textarea, .wrapper form input {
  font-size: 20px
}

.capcha{
  display: flex;
  justify-content: start;
}
