.actionWrapper{
  background-color: #A2322E;
  border-radius: 16px;
  margin-bottom: 5em;
}

.action {
  color: #FEBF10
}

.actionWrapper > *{
  padding: 1em;
  margin: 1em;
}

.actionWrapper form label{
  font-size: 24px;
  /* margin: auto; */
  padding-bottom: 6px;
}

.actionWrapper form textarea, .wrapper form input {
  font-size: 20px
}
