.gridWrapper{
  background-image: url("../../images/YYY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.gridWrapper img{
  box-shadow: 2px 2px 8px  rgba(80, 80, 80, 0.3);
}