.testimonialWrapper{
  background: #FCD025;
}

.article {
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.author {
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
}

.stars {
  font-style: normal;
  font-size: 40px;
  margin-bottom: 1em;
}

.article .a{
  margin: auto;
}

.testimonialWrapper h2{
  padding-top: 16px;
  color: #333;
}

.testimonialWrapper h2 .cambridge {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  font-weight: normal;
}

.testimonialWrapper h2 .indipendent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #F04D22;
}

.press h3,
.radio_exclamation h3
{
  color: #A2322E;
  font-weight: bold;
}

.radio .grid img{
  min-height: 600px;
}

.testimonialWrapper .grid>:first-child {
  padding: 2em;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  /* animation: slideLeft; */
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
} 

@keyframes slideLeft{
  0% {left: -1000px;}
  100% {left: 0;}
}

.testimonialWrapper .grid>:last-child {
  margin: auto;
  /* animation: slideRight; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
} 

@keyframes slideRight{
  0% {right: -1000px;}
  100% { right: 0;}
}

.testimonialWrapper .grid img{
  height: 304px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px  rgba(80, 80, 15, 1);
}

.text-center{
  text-align: center;
  font-style: normal;
}

